# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

input/
output/
logs/
source/test.py
source/config.yaml
test/My Project-db965bac73b4.json
test/client_secret.json
*.tex

*.pkl

*.pkl

source/sql_test.py
woogenerator/conf/generator_config.yaml
source/parser_pickle.pkl
woogenerator/conf/merger_config.yaml
source/utils.py.orig
source/merger.py.orig
source/coldata.py.orig
README.md.orig
usernames.py
usernames.txt
source/fileregextest.py
source/test_wp_api.py
output test merge
scripttest.py
.remote-sync.json
ids that were deleted.txt
html/*
source/.DS_Store
pocs/.DS_Store
.DS_Store
debug_out
log
input archive*.zip
logs archive*.zip
bad_names.txt
woogenerator.pylint
bad_variable_names.txt
bad_imports.txt
.github-todos
.tags*
*.csv
tests/sample_data/EAP-PECPRE.jpg
tests/sample_data/STFTO-CAL.png
tests/sample_data/EAP-PECPRE.jpg
tests/sample_data/STFTO-CAL.png
*.jpg
tests/sample_data/STFTO-CAL.png
tests/sample_data/EAP-PECPRE.jpg
